.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 545px) {
  .places {
    max-width: 720px;
  }
}
